.body {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.self-intro {
  margin-top: 11rem;
  width: 70%;
  font-family: cursive;
  padding-bottom: 3rem;
}

.body-section {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body-section img {
  display: inline;
  width: 3.5rem;
  height: 3.5rem;
}

.earth-pic {
  position: absolute;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  width: 100%;
}

.footer-logo-section {
  margin-top: 1rem;
  width: 10%;
  display: flex;
  justify-content: space-between;
}
